@import "./first-screen.css";
@import "./second-screen.css";

html {
  font-family: "VT323", monospace;
  font-size: 18px;
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
