body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.flicker-in-1 {
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------
---------------HEADER-----------------
------------------------------------*/

header {
  flex: 0;
  display: flex;
  flex-direction: row;
  background-color: black;
  margin: 0;
  max-height: 82px;
}

#logos {
  display: flex;
  align-items: center;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  background-color: cadetblue;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

#box3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
  width: 100%;
  margin: 0;
  padding: 0 10px 5px 0;
}

h4,
h1 {
  margin: 0;
}

#logos p {
  font-size: 1em;
  width: 100%;
  color: white;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0px;
  text-align: center;
}

/*-----------DYNAMIC NEWS-----------*/

#breaking-news {
  display: flex;
  flex-direction: column;
  background: grey;
  width: 100%;
  border: solid 1px white;
  border-right: none;
  flex-wrap: nowrap;
  overflow: hidden;
}

#box1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  max-height: 55px;
  flex-wrap: nowrap;
  overflow: hidden;
}

#news {
  width: 90%;
  text-align: left;
  padding: 5px 5px 5px 10px;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.logo-container {
  width: 10%;
  background-image: url("../images/logo-news.png");
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
}

#box2 {
  margin: 0;
  height: 20%;
  background-color: grey;
  color: darkslategrey;
  padding: 0 0 0 5px;
}

.defileParent {
  display: block;
  margin: 3em auto;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}

.defile {
  display: block;
  animation: linear marqueelike 20s infinite;
  -webkit-animation: linear marqueelike 20s infinite;
  -moz-animation: linear marqueelike 20s infinite;
  -o-animation: linear marqueelike 20s infinite;
  -ms-animation: linear marqueelike 20s infinite;
  animation: linear marqueelike 20s infinite;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -100%;
  padding: 0 5px;
  text-align: left;
  height: 25px;
}

.defile:after {
  content: attr(data-text);
  position: absolute;
  white-space: nowrap;
  padding-left: 10px;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
@-moz-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
@-o-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
@-ms-keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
@keyframes marqueelike {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}

/*------------------------------------
--------------NAV BAR-----------------
------------------------------------*/
nav {
  background-color: goldenrod;
  height: 80px;
  display: flex;
  flex: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav #icon {
  width: 40px;
  height: 40px;
}

#icon img {
  width: 100%;
}
nav #message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav select {
  border: solid 2px black;
  background-color: darkgoldenrod;
  font-family: "VT323", monospace;
  font-size: 1em;
  color: black;
}

#message {
  color: black;
  width: 50%;
}

#questions {
  width: 15%;
}

#counter {
  width: 15%;
  justify-content: space-between;
}
#counter img {
  width: 20%;
}

/*------------------------------------
----------------BOARD-----------------
------------------------------------*/

#board-container {
  width: 80%;
  margin: 0px auto 10px;
  border-radius: 84px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/*--------------PLAY----------------*/

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#my_board {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.character {
  background: lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.character img {
  max-width: 150px;
  width: 100%;
  margin: 5px;
}

.character span {
  margin: 5px;
}

.character span:hover {
  color: darkgoldenrod;
}

.fade-out {
  animation: fade-out 1s ease-out both;
}

/*----------LOOSE SCREEN-------------*/

#loose {
  width: 60%;
  padding: 5px;
  background-color: cadetblue;
  text-align: center;
}

#loose img {
  justify-content: center;
}

#loose-button {
  background-color: darkgoldenrod;
  border: solid 1px black;
  font-family: "VT323", monospace;
  font-size: 2em;
}

.hidden {
  visibility: hidden;
}

/*-----------WIN SCREEN-------------*/

#win {
  width: 60%;
  padding: 5px;
  background-color: goldenrod;
  text-align: center;
}

#win img {
  justify-content: center;
}

#win-button {
  background-color: gray;
  border: solid 1px black;
  font-family: "VT323", monospace;
  font-size: 2em;
}

@media (max-width: 500px) {
  header {
    font-size: 0.6em;
    max-height: 50px;
  }

  nav {
    font-size: 0.6em;
    max-height: 50px;
    text-align: center;
  }

  nav #icon {
    width: 10px;
    height: 10px;
  }

  #board-container {
    flex: 0;
  }

  #my_board {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .character img {
    max-height: 50px;
  }
}
