html {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

section {
  background: darkgrey;
  width: 80%;
  height: 80vh;
  margin: 40px auto;
  border-radius: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my_board {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.character {
  background: dodgerblue;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character img {
  max-width: 200px;
  width: 100%;
  margin: 5px;
}

.character span {
  margin: 5px;
}

footer {
  background-color: dodgerblue;
  height: 80px;
}
